

.jumbotron  {
  background-image: url(../images/asics.jpg);
  background-position: 10% 67.5%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: rgba(73, 73, 74, 0.7) 0px 0px 10px;
}
.c-wrapper {
width: 80%;
margin: auto;
}

strong.strong-text {
  font-size: .95em;
}
.hobbies-list {
  font-style: none;

}
#about-me {
 margin: 5%;
margin: inherit;
}
#project-links {
  margin-left: 5%



}
#footer-text {
  text-align: center;
}
